* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* Este valor debe ser cambiado a "border-box" */
}


body{
background-color: black;
width: 100%;
height: 100vh;
display: flex ;
justify-content: center;
align-items: center;

}

.reloj{

    width: 70%;
    display: flex;
    justify-content: center;
    color: red;
    font-family:LCDMono2;
    font-size: 70px;
}
.text-min   {
    padding: 15px ;
font-size: 40px;

}
